# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem

# drizzle
db/migrations/meta/
tsconfig.tsbuildinfo

# Local file uploads (STORAGE_DRIVER=local)
/uploads/

.krova-postgres